extends dash
block head
    title Edit
    link(rel="stylesheet" href="css/api.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.js")
    script(src="js/main.js")
    script(src="js/edit.js")
block content  
    div(class="top-text-area")
        textarea(name="", onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" oninput="preview(this)" id="text-area" cols="70", rows="20" style="display:inline-block;")
        div(id="preview" style="") Preview...

    input(type="text" id="title-input" placeholder="Old title" oninput="update_title(this)")

    select(id="type")
        option(value="") Select type
        option(value="class") Class
        option(value="function") Function
        option(value="variable") Variable
        option(value="text") Text
        
    select(name="" id="load-page" onchange="load(this)")
        option(value="") Select page to edit....
    br
    input(type="text" placeholder="New title" id="new-title" oninput="warn()")
    select(id="class")
        option(value="") Select class....
    label(id="checkmark") Pinned
        input(type="checkbox" id="pinned" name="")
    button(class="mdc-button mdc-button--outlined" id="upload" onclick="upload()") Upload