extends dash
block head
    link(rel="stylesheet", href="css/api.css")
    | <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.js")
    |<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css"> 
    |<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
block header
    | DOCS
block sidebar
    div(id="api-list")
        //div(class="api-page")
block content
    div(id="api-page-title")
    div(id="about-page")
    script(src="js/api.js")