head
    title HappySurfers
    | <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    script(src="js/main.js")
    link(rel="icon", href="img/logo.png", type="image/x-icon")
    | <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu:700&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="css/material.css")
    link(rel="stylesheet", href="css/style.css")
    | <meta name="viewport" content="width=device-width, initial-scale=1">
    block head
body
    div(id="wrap")
        block content
    div(id="overlay")