body {
    margin: 0;
    overflow-y: hidden;
}

#wrap {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: #ccc;
}

#content-box {
    display: flex;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    overflow-y: auto;
}

#side-bar {
    width: 35%;
    border-right: 3px solid var(--c-primary);
}

#title {
    display: flex;
    justify-content: space-between;
}

#logo {
}

#top-bar {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#content {
    flex-grow: 1;
}

#avatar {
    display: flex;
    border-radius: 100px;
    border: 1px solid var(--c-primary);
}