#index-logo {
    width: 250px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: 5vh;
}

#tag-line {
    display: block;
    font-size: 30px;
    color: var(--blu);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

#index-wrap {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1000px;
}

#index-login-button {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
}

#index-signup-button {
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 40px;
    margin-top: 20px;
}

#features-list {
    display: block;
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.features-block {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

.features-icon {
    display: inline-block;
    width: 125px;
    padding-right: 20px;
}

.features-text {
    
}

.features-heading {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark-blu);
}

.features-description {
    
}