#index-wrap  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    
}
#index-signup-button {
    width: 160px;
    height: 40px;
    margin-top: 20px;
}

#tag-line {
    font-size: 25px;
    color: var(--c-primary);
}

#features-list {
    display: flex;
    flex-direction: column;


    
    
}

.features-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.features-heading {
    font-size: 25px;
    font-weight: 700;
    color: var(--c-primary);

}
.features-icon {
    display: inline-block;
    width: 125px;
    padding-right: 20px;
}
