:root {
    --c-primary: #2672e3;
    --c-primary-hover: #154fa5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

button {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: var(--c-primary);
    border: 2px solid var(--c-primary);
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--c-primary-hover);
    border-color: var(--c-primary-hover);
}

button.button-active {
    color: var(--c-primary);
    background-color: transparent;
}

button.button-active:hover {
    color: var(--c-primary-hover);
    background-color: transparent;
}

div ::-webkit-scrollbar {
    width: 13px;
}

div ::-webkit-scrollbar-track {
    background-color: #fff;
}

div ::-webkit-scrollbar-thumb {
    border-left: 3px solid var(--c-primary);
}